$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;
$smartphones: 435px;

//colors
$yellow: #FEDB3F;
$yellowDark: #FFD517;
$black:#292929;

@import "media";

//normalize
@import "normalize";

//z-indexes
$z-fixed-menu: 100;

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,500&family=Open+Sans&display=swap" rel="stylesheet');
@import "layout";

//blocks
@import "blocks/fixed-menu";

@import "blocks/hero";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/contacts";
@import "blocks/hamburger";
@import "blocks/button";
@import "blocks/features";
@import "blocks/feature";
@import "blocks/section";
@import "blocks/headline";
@import "blocks/advantages";
@import "blocks/advantage";
@import "blocks/products-section";
@import "blocks/products-slider";
@import "blocks/products";
@import "blocks/product";
@import "blocks/details";
@import "blocks/detail";
@import "blocks/team-section";
@import "blocks/team";
@import "blocks/products-menu-section";
@import "blocks/products-menu";
@import "blocks/reviews";
@import "blocks/avatar-click";
// @import "blocks/player-section";
// @import "blocks/player";
@import "blocks/video";
@import "blocks/order-section";
@import "blocks/form";
@import "blocks/modal";
@import "blocks/radio";
@import "blocks/adress";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/socials";

@import "blocks/fullscreen-menu";





