$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;
$smartphones: 435px;

//colors
$yellow: #FEDB3F;
$yellowDark: #FFD517;
$black:#292929;



//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

@import "./media.scss";

//z-indexes
$z-fixed-menu: 100;

//setups
@import "./layout.scss";

//blocks
@import "./blocks/*.scss";

