.advantage {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.advantage__img {
  display: inline-flex;
  margin-bottom: rem(17px);

  @include phones {
    margin-bottom: 0;
    margin-right: rem(12px);
  }
}

.advantage__img-wrapper {
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.advantage__icon {
  width: 64px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantage__title {
  font-size: rem(27px);
  color: $black;
  font-weight: bold;
  margin-bottom: rem(12px);
}

.advantage__desc {
  line-height: 1.25;
}
