.contacts__phone {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.contacts__icon-elem {
  width: 13px;
  height: 14px;
  margin-right: 6px;
}