
.form {
  display: flex;
  color: #fff;
}

.form__col {
  flex: 1;
  margin-right: rem(14px);

  &:last-child {
    margin-right: 0;
  }
}

.form__col-block {
  padding-left: rem(12px);
  margin-bottom: rem(28px);
}

.form__row {
  display: flex;
  margin-bottom: rem(11px);
}

.form__block {
  flex: 1;
  margin-right: rem(20px);
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  padding: rem(18px) rem(12px);
  border: rem(3px) solid transparent;
  border-radius: rem(4px);
  font-size: rem(14px);
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #000;

  &:focus {
    border-color: $yellow;
    outline: none;
  }

  &--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(17px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: rem(18px);
}

.form__button {
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
  margin-left: rem(17px);
  display: inline-flex;
}