.hero {
  background: url("../img/hero-background.png") center top / cover no-repeat;
  background-color: #1968B1;
  height: 100vh;
  min-height: 652px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 0 68px;
}

.hero__content {
  width: 55%;
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.23;
  text-transform: uppercase;
  margin-bottom: 14px;
  padding-right: 5%;
}

.hero__text {
  font-size: 21px;
  margin-bottom: 30px;
}