.modal {
  display: none;
  padding: 0;
}

.modal__content{
  background-color: #fff;
  padding: rem(37px) rem(66px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__text {
  font-weight: 500;
  color: #000;
  margin-bottom: rem(18px);

  &.error {
    color: rgb(224, 2, 2);
  }
}