.reviews__display {
  background: #F8FAF9;
  padding: rem(42px);
  margin-bottom: rem(15px);

  @include tablets {
    padding: 56px 18px 22px;
    margin-bottom: rem(30px);
  }
}

.reviews__content {
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
    text-align: center;
  }
}

.reviews__avatar {
  width: rem(253px);
  height: rem(264px);
  margin-right: rem(40px);

  @include tablets {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.reviews__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__article {
  flex: 1;
  padding-right: 10%;

  @include tablets {
    padding-right: 0;

  }
}

.reviews__title {
  font-size: 27px;
  font-weight: bold;
  color: $black;
  margin-bottom: rem(12px);
}

.reviews__text {
  margin-bottom: rem(15px);
  line-height: 1.25;
  
}

.reviews__author {
  font-weight: 500;
  color: $black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;

}

.reviews__switcher-item {
  margin-right: rem(6px);
  &:last-child {
    margin-right: 0;
  }
}



