.advantages {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.advantages__item {
  position: relative;
  flex: 1;
  padding: 0 2.2%;

  @include phones {
    padding: 0;    
    margin-bottom: rem(30px);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    &:before {
      display: none;
    }

    @include phones {
      margin-bottom: 0;
    }
  }

  &:before {
    content: url("../img/decor/circles.png");
    position: absolute;
    right: 0;
    top: rem(59px);
    transform: translate(50%);

    @include tablets {
      display: none;
    }
  }
}
