.button {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(16px);
  font-weight: 800;
  line-height: 1;
  padding: rem(22px) rem(41px);
  border-radius: rem(100px);
  background: $yellow;
  &:hover {
    background: $yellowDark;
  }
  display: inline-flex;
  border: none;
  cursor: pointer;
}
