.duration {
  display: flex;
  align-items: center;
  flex: 1;
}

.duration__button-wrap {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 24px;
}

.duration__img {
  height: 0;
  width: 0;
  background: transparent;
  border: 11px solid transparent;
  border-left-color: #fff;
  border-right-width: 0;
  outline: 0;
  transition: border 0.3s;

  &.active {
    border: 7px solid #fff;
    height: 20px;
    border-top: 0;
    border-bottom: 0;
    padding: 1px;

  }
}

.duration__length-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

