.feature {
  display: flex;
  align-items: center;
}

.feature__icon {
  margin-right: rem(14px);

}

.feature__img {
  width: 35px;
  height: 35px;
  fill: #fff;
}

.feature__text {
  font-weight: bold;
  max-width: rem(90px);
  font-size: rem(16px);
  line-height: 1.2;
}