section.products-menu-section {
  background: url("../img/products-menu/products-menu-background.png") top center / cover no-repeat;
  background-color: #000;
  color: #fff;
  position: relative;
  justify-content: start;
}

.section__title.products-menu-section__title {
  color: #fff;
  text-align: left;
  margin-top: 109px;
}